# Eclipse
*.pydevproject
.metadata
.project
.classpath
.gradle
.recommenders
runtime-eclipsercp.application
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
/bacc_pract/java/netbeansrcp/nbproject/private/
/bacc_pract/java/netbeansrcp/testmodul/nbproject/private/
/bacc_pract/java/netbeansrcp/valuetable/nbproject/private/
/bacc_pract/java/netbeansrcp/barchart/nbproject/private/
/bacc_pract/java/netbeansrcp/console/nbproject/private/
/bacc_pract/java/netbeansrcp/data/nbproject/private/